/* 
nav.navbar, .navbar-default{
  background-color:#d01f3c!important;
}
span.navbartext {
  color: white;
  font-size: 1.1rem;
} */

/* .bg-bodies{
  top: 0;
  left: 0;
  background-size: 100% 100%;
  background-image: url('./images/newbody.jpg');
} */

.bg{
  min-height: 100%;
  min-width: 100%;
  background-size: 100% 150px;
  top: 0;
  left: 0;
  background-image: url('./images/headerbanner.jpg');
} 
.footer-bg{
  min-height: 100%;
  min-width: 100%;
  background-size: 100% 100%;
  top: 0;
  left: 0;
  background-image: url('./images/bogyimaga.jpg');
}


/**    HEADER **/
.navbar{
  background-color:transparent;/*#007bff;*/
}
.navbar .navbar-collapse >div.mr-auto >div >a {
    color: #6610f2;
 }
.navbar .navbar-collapse > div.mr-auto > div > a:hover {
     background-color: #cce5ff;
     color: #6610f2;
     padding: 10px 15px;
     border-radius: 4px;
 }

.navbar .navbar-collapse > div.mr-auto > div > .active {
   background-color: #cce5ff;
   color: #007bff;
   font-weight:bold;
   padding: 10px 15px;
   border-radius: 4px;
}
.logo{
  width:220px;
  height:90px;
}

/**    HOME **/
.row{
background-color:transparent; 
  margin: 1%;
}
/* .col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
  background-color: #ececec!important;
} */
.content-md{
  padding: .10%;
  text-align: center;
}
.home-header{
  text-align: center;
  padding: 2%;
}

.home-content{
  text-align: justify;
}
.card-img{
  height: 100px;
  width: 100px;
  display: block;
  padding:2%;
}
p.card-text{
  text-align: justify;
  word-spacing:-1px;
}
div.card-title{
  text-align: center;
}
.card-body {
  padding: .65rem;
}

.remove-border{
  border-radius: 0rem;
  color: #6610f2;
  background-color: aqua;
  border-color: #b8daff;
}

.carousel-caption {
  color: blue;
}

/***** Insurance ******/
.image-patient{
width:220px;
height:180px;
}
.text-black
{
  color:black;
}
.text-white{
  color:transparent;
}
.card-img-insurance{
    display: block;
    padding:15%;
    width: 360px;
    height: 170px;
}
.image > img.card-img-top{
  padding:10%;
}
/** FORMS**/
.img-forms{
width: 256px;
height: 256px;
margin:4%;
}


/*****Footer ****/
.footerRow
{
    background-color: transparent;
}

.footer-menu2 > .list-group-item,.footer-menu > .list-group-item  {
  background-color: transparent;
  color:#6610f2;
}
.list-group-item {
  background-color: transparent;
}
.footer-menu > .list-group-item > a > i{
  color: #6610f2;
}
span.fillers{
  display: none;
 }
span.fillers1{
  display: none;
}
span.fillers2{
  display: none;
}

@media only screen and (max-width: 480px) {
  .bg{
    min-width: 100%;
  } 
  h4 {
    font-size: .85rem;
  }
  h5 {
    font-size: .75rem;
  }
  span.fillers{
   display: inline;
  }
  span.fillers1{
    display: none;
  }
  span.fillers2{
    display: none;
  }
  .footer-bg {
    min-width: 100%;
  }

}
@media only screen and (max-width: 414px) {

  span.fillers1{
   display: none;
  }

  span.fillers{
    display: none;
  }
  span.fillers2{
    display: inline;
  }
}
@media only screen and (max-width: 375px) {

  span.fillers1{
   display: inline;
  }

  span.fillers{
    display: none;
   }
   span.fillers2{
    display: none;
  }
}



/* 

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
